@import "./variables";
@import "./bootstrap/bootstrap.scss";
@import "./bootstrap/bootstrap-grid.scss";
//@import "../../bootstrap/scss/_bootstrap.scss";
@import "./theme";
// @import "../../datetimepicker/_bootstrap-datetimepicker.scss";
@import "../../fontawesome/scss/font-awesome.scss";

//@import "../../pretixpresale/scss/_event.scss";
@import "../../pretixpresale/scss/_cart.scss";
//@import "../../pretixpresale/scss/_forms.scss";
//@import "../../pretixpresale/scss/_calendar.scss";
//@import "../../pretixpresale/scss/_checkout.scss";
//@import "../../pretixbase/scss/webfont.scss";



.mobile-cart{
	position:absolute;
	right:60px;
	bottom:0;
	display:none;
}

.mobile-cart a{	
	font-size:15px;
	line-height:20px;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #f89406;
	border-radius:20px;
	margin:6px 0;
	padding:7px 20px!important;
	font-family: "Montserrat-Light";
	width:90px;
	position:relative;
	display:block;
}

.mobile-cart a:before{
	display:block;
	content: "\f23d";
	font-family: 'FontAwesome';
	position:absolute;
	top:7px;
	right:20px;
	font-size:18px
}

.header-3 #site-navigation .cart a{
	border:1px solid #fff
}

#site-navigation .cart{
	margin:0 0 0 20px;
}

#site-navigation .cart a{
	border:1px solid #ff6600;
	border-radius:20px;
	margin:6px 0;
	padding:7px 20px!important;
	font-family: "Montserrat-Light";
	width:90px;
	background-size:25px 23px!important;
	position:relative;
}

#site-navigation .cart a:before{
	display:block;
	content: "\f23d";
	font-family: 'FontAwesome';
	position:absolute;
	top:7px;
	right:20px;
	font-size:18px
}

.closecanvas{
	display:none;
}


/* See https://github.com/pretix/pretix/pull/761 */
.bootstrap-datetimepicker-widget table td span {
    line-height: 1.8em;
}

.js-only {
    display: none;
}
.locales {
    display: inline;
    a {
        text-decoration: none;
    }
    a:hover {
        border-bottom: 2px solid $gray-light;
    }
    a.active {
        border-bottom: 2px solid $brand-primary;
    }
    img {
        vertical-align: baseline;
    }
}
.huge {
    font-size: 40px;
}

.thank-you {
    margin-bottom: 25px;

    .fa {
        font-size: 150px;
        line-height: 170px;
        display: block;
        color: $brand-success;
    }

    h2 {
        color: $brand-success;
    }
}

body.loading .container {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

#loadingmodal, #ajaxerr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .7);
    opacity: 0;
    z-index: 900000;
    visibility: hidden;
    padding: 10px;

    .big-icon {
        margin-top: 50px;
        font-size: 200px;
        color: $brand-primary;
    }

    .modal-card {
        margin: 50px auto 0;
        top: 50px;
        width: 90%;
        max-width: 600px;
        background: white;
        border-radius: $border-radius-large;
        box-shadow: 0 7px 14px 0 rgba(78, 50, 92, 0.1),0 3px 6px 0 rgba(0,0,0,.07);
        padding: 20px;
        min-height: 160px;

        .modal-card-icon {
            float: left;
            width: 150px;
            text-align: center;
            .big-rotating-icon {
                -webkit-animation: fa-spin 8s infinite linear;
                animation: fa-spin 8s infinite linear;
                font-size: 120px;
                color: $brand-primary;
            }
        }
        .modal-card-content {
            margin-left: 160px;
            text-align: left;
            h3 {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 700px) {
    #loadingmodal, #ajaxerr {
        .modal-card {
            .modal-card-icon {
                float: none;
                width: 100%;
            }
            .modal-card-content {
                text-align: center;
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}

#ajaxerr {
    background: rgba(236, 236, 236, .9);
}

.loading #loadingmodal, .ajaxerr #ajaxerr {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.typo-alert span[data-typosuggest] {
    text-decoration: underline;
    cursor: pointer;
}

.info-row {
    & > .fa {
        font-size: 26px;
        color: $brand-primary;
        float: left;
        margin-top: 3px;
    }
    p {
        min-height: 30px;
        margin-left: 40px;
    }
    p:first-child {
        margin-top: 0;
    }
}


.dl-horizontal dt  {
    white-space: normal;
}

.collapse-indicator {
    -moz-transition: all 150ms ease-in 0s;
    -webkit-transition: all 150ms ease-in 0s;
    -o-transition: all 150ms ease-in 0s;
    transition: all 150ms ease-in 0s;
}

.panel-title a:not(.collapsed) .collapse-indicator {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-title a[data-toggle="collapse"], details h3.panel-title, details h4.panel-title {
    display: flex;
    padding: 10px 15px;
    margin: -10px -15px;
    align-items: center;
    justify-content: space-between;
    outline: 0;
    text-decoration: none;
}

.panel-default .panel-title a[data-toggle="collapse"]:hover {
    background-color: #eeeeee;
}



details {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

details summary {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.nojs details[open] .collapse-indicator, details.details-open .collapse-indicator {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

form.download-btn-form {
    display: inline;
}
.alert-testmode {
    margin-top: 20px;
}
h2 .label {
    display: inline-block;
}

//@import "../../pretixpresale/scss/_iframe.scss";
//@import "../../pretixpresale/scss/_a11y.scss";
//@import "../../pretixpresale/scss/_print.scss";
